[dataset.moments]
file = CO-MOMENTS_FT-1.dat
filetype = cols
parser-args = 0 1 2
post-process = scale 0 27.211386

[data]
combine = calculate-magnitude moments-mag moments 1 moments 2

[plot]
type = line
cols = moments 0 moments 1
	moments 0 moments 2
	moments 0 moments-mag 0
labels = Re
	Im
	Abs
colorCycle = r b g
linestyleCycle = - - -
xlabel = Energy [eV]
ylabel = FT(Moment)
#xlim = 8 12
xlim = 0 30
#ylim = -3e-7 3e-7
fit = lorentz_peak 2
fit-xmin = 19.5
fit-xmax = 21.5
fit-linestyleCycle = --
fit-colorCycle = c
figfile = moments_ft.pdf
