[dataset.moments]
file = CO-MOMENTS_FT-1.dat
filetype = cols
parser-args = 0 1 2
post-process = scale 0 27.211386

[plot]
type = line
cols = moments 0 moments 1
	moments 0 moments 2
labels = Re
	Im
colorCycle = r b
linestyleCycle = - - -- --
xlabel = Energy [eV]
ylabel = FT(Moment)
#xlim = 8 12
xlim = 0 30
#ylim = -3e-7 3e-7
figfile = moments_ft.pdf
